* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-white: #ffffff;
    --primary-black: #2d292b;
    --secondary-red: #d61d55;
    --secondary-grey: #80777a;
    --font: 'Montserrat', sans-serif;
}

/*font-family: 'Montserrat', sans-serif;*/

body {
  font-size: 23pt;
  font-family: var(--font);
  background-color: var(--primary-white);
  /* padding: 16px 0;*/
  max-width: 1900px;
}

header {
    /* padding: 10px 0; */
    background-color: var(--primary-white);
    color: var(--primary-black);
}

h1 {
  /* color: var(--primary-black); */
  /* font-size: 33pt; */
  /* text-align: center; */
  display: none;
}

.above-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.above-login img {
    width: 100%;
    max-width: 250px;
    margin-left: 15px;
}

.navigation {
  display: flex;
  flex-direction: column-reverse;
}

/******************************* start hamburger styling **********************/

.navbar {
  background-color: #333;
  width: 25%;
  height: 100vh;
  display: none;
}

.navbar ul {
  overflow: hidden;
  list-style-type: none;
  padding-top: 50%;
  margin: 0;
}

.navbar li {
  display: block;
  margin: 0;
  padding: 5% 50px;
  width: 100%;
}

.navbar li:hover {
  cursor: pointer;
}


.navbar li a {
  color: #d3e3e3;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6em;
  transition: all .5s;
}

.navbar li:hover {
  cursor: pointer;
  background-color: #ce3939;
  letter-spacing: 10px;
}

.hamburger {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  float: left;
  transition: opacity .3s;
}

.hamburger:hover {
  cursor: pointer;
  opacity: .5;
}

.hamburger .line{
  width: 50px;
  height: 5px;
  background: rgb(236, 66, 66);
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.hamburger .line:nth-child(1) {
  background-color: #a77a33;
}

.hamburger .line:nth-child(2) {
  background-color: #633200;
}

.hamburger .line:nth-child(3) {
  background-color: #a77a33;
}

.hamburger.isactive .line:nth-child(2) {
  opacity: 0;
}

.hamburger.isactive .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.hamburger.isactive .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.navbar {
  transition: all 2s ease-in-out;
}

.navbar.active {
  display: block;
  animation: fade .5s;
}

@keyframes fade {
  from{transform: translateX(-200px); opacity: 0;}
  to {transform: translateX(0px); opacity: 1;}
}

@media screen and (max-width: 1360px) {
  
  .h1 h1 {
    font-size: 3em;
    left: 35%;
  }
  
  .navbar {
    width: 30%;
  }
  
  .navbar ul {
    padding-left: 0%;
  }
  
  .navbar li {
    padding: 3% 0;
  }
  
  .navbar li a {
    font-size: 1.2em;
  }
  
}

@media screen and (max-width: 768px) {
  .hamburger {
    float: right;
  }
  
  .h1 h1 {
    left: 23%;
    top: 50%;
    font-size: 1.4em;
  }
  
  .navbar {
  background-color: #333;
  width: 100%;
  height: 45vh;
  display: none;
}

.navbar ul {
  overflow: hidden;
  list-style-type: none;
  padding-top: 3%;
  padding-left: 30%;
  padding-right: 3%;
  padding-bottom: 3%;
  margin: 0;
}

.navbar li {
  display: block;
  margin: 0;
  padding: 14px 20px;
  width: 100%;
  transition: background-color .5s;
}

.navbar li:hover {
  cursor: pointer;
  background-color: #ce3939;
}


.navbar li a {
  color: #d3e3e3;
  text-decoration: none;
  padding: 14px 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  transition: all 1s;
}

.navbar li:hover {
  cursor: pointer;
  background-color: #ce3939;
  letter-spacing: 0px;
}

}

/******************************** end hamburger styling ************************/


.header-menu {
    text-align: flex-end;
}

.menu-list {
    display: flex;
}

header ul li {
    list-style-type: none;
    margin-right: 15px;
}

#sticky-header p {
    background-color: var(--secondary-grey);
    color: var(--primary-white);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* .sticky { */
    /* padding-top: 102px; */
/* } */

.hero-image {
    width: 100%;
    max-width: 1900px;
}

/* for the overlay, is it easier to just make the change in Ps and save new image? - E */

/* I always find the overlays to be easier to do & control in PS vs CSS - JB */

.overlay {
    color: var(--secondary-red);
    z-index: 5;
}

main {
  display: block;
  max-width: 1900px;
}

.bold {
    font-weight: bold;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 12px 48px;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-grey);
  color: var(--primary-white);
  transition: 0.3s;
  font-weight: 900;
  font-style: var(--font);
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover, button:focus {
  color: var(--secondary-red);
  background-color: var(--primary-white);
  animation: hover 800ms infinite alternate linear;
}

.mission {
    background-color: var(--secondary-red);
    color: var(--primary-white);
    text-align: center;
    padding: 15px 60px 15px 60px;
}

.mission h2 {
    color: var(--primary-white);
    margin: 0;
    padding-top: 15px;
}

/* .options { */
    /* display: flex; */
/* } */

/* I need help figuring out the numbers behind the text - E */

.options article {
    padding: 50px 25px;
}

/* i looked up a lighter tint as i could not make the opacity coding work - E 
https://www.colorhexa.com/d61d55
*/
/*  */
.reviews {
    display: flex;
    background-color: #f08dab;
    flex-direction: row;
    z-index: -5;
    align-content: space-between;
}

/* i can't get this to flex correctly - E */


/* "reviews" and related classes will need to be updated or reveiwed, should be overwritten but what comes underneath it though- E */



/* .reviews-image { */
    /* max-width: 30%; */
    /* align-content: center; */
/* } */
/*  */
/* .reviews-image img { */
    /* margin: 20px 10px; */
    /* width: 100%; */
    /* align-items: center; */
/* } */

/******************************************************** start homepage image slider **************************************************/

.slide-wrap {
  position: relative;
  max-width:600px;
  margin: 0 auto;
  transition:300ms;
}

.slideshow {
  position: relative;
  z-index: 10;
}

.slide-entry {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin:0 auto;
  text-align: center;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  padding: 20px 5%;
  transition:300ms;
} 

.slide-entry + .active {
    opacity: 1;
    visibility: visible;
  }

.kids-reviews {
  display: flex;
  flex-direction: column;
}

/* .new-reviews { */
  /* flex-direction: column; */
/* }  */

.slide-nav {
  display: flex;
  justify-content: space-between;
  /* align-items:center; */
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-60%);
  width: 100%;
  list-style: none;
  padding: 0;
  z-index: 0;
}

.slide-nav li {
    cursor: pointer;
    color: var(--secondary-red);
    background-color: var(--secondary-grey);
    font-size: 150px;
    z-index: 999;
  }

#prev-slide {
  margin-left:-20px;
}

#next-slide {
  margin-right:-20px;
}



/******************************************************** end homepage image
slider **************************************************/



.reviews-text {
    background-color: var(--primary-white);
    margin: 25px;
    padding: 50px;
    border-color: var(--secondary-grey);
    border-style: solid;
    border-width: 10px;
    max-width: 40%;
}

.right-justify {
    text-align: right;
}

footer {
    border-top-color: var(--primary-white);
    border-top-style: solid;
    border-top-width: 5px;
    background-color: var(--secondary-grey);
    display: flex;
    justify-content: space-between;
}

footer img {
    margin: 15px;
}

/******** Shows Pages Styling ************/

section.show-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

li.shows-bold {
  color: #d61d55;
  font-weight: 600;
}

.shows-hero-image {
  width: 100%;
  max-width: 1900px;
}

.shows-mission {
  background-color: var(--secondary-red);
  color: var(--primary-white);
  text-align: center;
  padding: 23px 60px 31px 60px;
}

.shows-mission h2 {
  color: var(--primary-white);
  margin: 2px 25% 11px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 28pt;
  letter-spacing: 2px;
  line-height: 39px;
}

p.shows-type {
  font-size: 14pt;
  font-family: Montserrat;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0px 9%;
  line-height: 25px;
}

h2.upcoming-head {
  color: #d61d55;
  text-align: center;
  margin: 21px 0 14px;
  font-family: Montserrat;
  font-size: 2.3rem;
  letter-spacing: 1.25px;
}

h2.shows-bold {
  border-bottom: 1.1px solid #00000042;
  padding: 0 0 14px;
}

.block-1 {
  background: #ecebeb;
  width: 25%;
  margin: 10px 2% 23px;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0px 1px 6px #b1b1b12e;
}

.block-1 img{
  width: 100%;
}

.block-1 h3{
  font-family: Montserrat;
  text-align: center;
  font-size: 21px;
  letter-spacing: .8px;
  margin: 4px 0 3px;
}

.block-1 p{
  font-family: Montserrat;
  font-size: 10pt;
  font-weight: 300;
  margin: 5px 7%;
  line-height: 21px;
}

a#btn {
  background: #d61d55;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px 9px;
  color: #fff;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  margin: 0px 0 17px;
}

#btn:hover {
	background-color: #80777a;
	transition: .5s;
}

/*button.show-btn {
  text-align: center;
  margin: 4px 6% 16px;
}*/

/******** About Pages Styling ************/
.about-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.About-header{
  width: 100%;
}

.about-hero{
  width: 100%;
}

.red-title{
  color: #d61d55;
  text-transform: uppercase;
  margin: 3% 0 1.5%;
}

.about-page h2{
  text-align: center;
  padding: 2% 0;
  font-size: 1.1em;
}

.about-page h4{
  text-align: center;
  line-height: 35px;
  font-size: .5em;
}

hr{
  width: 40%;
  margin: 2% auto;
}

.about-page p{
  line-height: 45px;
  margin-bottom: 1%;
  padding-bottom: 2%;
  font-size: .5em;
  font-weight: 300;
}

.about-page .red-section{
  background-color: #d61d55;
  margin-top: -1.5%;
  width: 100%;
  max-width: 5000px;
}

.goal{
  margin: 0 12%;
  color: #ffffff;
}

.photostrip{
  display: flex;
  width: 100%;
  align-content: stretch;
}
.photostrip img{
  width: 33.33%;
}

.working-together,
.support,
.league,
.weather{
  margin: 0 12%;
}

.support-btn{
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-red);
  color: var(--primary-white);
  transition: 0.3s;
  font-size: 20px;
  font-weight: 900;
  font-style: var(--font);
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  width: 24%;
  min-width: 200px;
  margin: 0 35% 4%;
  text-align: center;
}

.support-btn:hover, .support-btn:focus {
  color: var(--secondary-red);
  background-color: var(--primary-white);
  animation: hover 800ms infinite alternate linear;
  padding: 12px 48px;
  border-radius: 10px;
  border: none;
  background-color: var(--secondary-grey);
  color: var(--primary-white);
  transition: 0.3s;
  font-weight: 900;
  font-style: var(--font);
  cursor: pointer;
  text-transform: uppercase;
}

.grey{
  background-color: rgb(236, 229, 229);
}

.league {
  display: flex;
  flex-direction: column;
}

.league img{
  width: 30%;
  text-align: center;
  align-items: center;
  margin: 0 auto 3%;
  min-width: 200px;
}

/******** Media Queries ************/

@media screen and (min-width: 500px) {
  .options {
    display: flex;
  }
  .reviews {
      display: flex;
      flex-direction: row;
  }

} 

@media (min-width: 650px) {
.about-page h2{
  font-size: 1.3em;
}

.about-page h4{
  font-size: .8em;
}
}

/* everything under this line is copied from last assignment  */



/*

* {
  box-sizing: border-box;
  outline: none;
}

textarea:focus, button:focus, button:hover {
  box-shadow: 0px 8px 12px var(--primary-dark);
}

span {
  border-radius: 10px;
}

:root {
  --primary: hsl(258, 100%, 63%);
  --primary-light: hsl(258, 90%, 81%);
  --primary-dark: hsl(258, 82%, 35%);
  --primary-darkest: hsl(258, 79%, 22%);
  --white: hsl(258, 100%, 96%);
  --font: 'Lato', sans-serif;
}

body {
  font-size: 2rem;
  font-family: var(--font);
  background-color: var(--primary);
}

h1 {
  color: var(--white);
  margin: 5vh 0;
  font-weight: 900;
  text-align: center;
}

main {
  display: block;
  margin: auto;
}

main  {
  max-width: 600px;
}

label {
  display: block;
  text-align: center;
  color: var(--white);
  font-size: 1rem;
}

textarea {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 60vh;
  overflow-y: auto;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 24px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 12px 48px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  transition: 0.3s;
  font-weight: 900;
  font-style: var(--font);
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

.emoji:after {
  animation-name: clicked;
  right: -25px;
  animation-duration: 800ms;
  position: absolute;
  opacity: 0;
  font-size: 2rem;
  content: "👍"
}

button:hover, button:focus {
  color: var(--primary-dark);
  background-color: var(--primary-light);
  animation: hover 800ms infinite alternate linear;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
  textarea {
    font-size: 1.2rem;
  }
}

@keyframes clicked {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(5px) rotateZ(30deg);
  }
  50% {
    transform: translateY(-30px);
    opacity: 1;
  }
  100% {
    transform: translateY(-28px);
    opacity: 0;
  }
}

@keyframes hover {
  to {
    transform: translateY(3px);
  }
}

*/